@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

@keyframes progress {
  0% { width: 0; }
  45% { width: 45%; }
  55% { width: 55%; }
  75% { width: 75%; }
  85% { width: 85%; }
  95% { width: 95%; }
  100% { width: 100%; }
}

.animate-progress-bar {
  animation: progress 10s ease-in-out infinite;
  background: linear-gradient(to right, #e10098, #ff45c3);
}