@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

@keyframes progress {
  0% { width: 0; }
  100% { width: 100%; }
}

.animate-progress-bar {
  animation: progress 3s linear forwards;
}